aiofiles==0.6.0
altgraph==0.17
auto-py-to-exe==2.9.0
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
ci-info==0.2.0
click==7.1.2
configobj==5.0.6
configparser==5.0.2
cx-Freeze==6.6
cx-Logging==3.0
decorator==4.4.2
Eel==0.12.4
etelemetry==0.2.2
filelock==3.0.12
frontend==0.0.3
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
h11==0.12.0
httplib2==0.19.1
idna==2.10
importlib-metadata==4.0.1
isodate==0.6.0
itsdangerous==2.0.0
joblib==1.0.1
lxml==4.6.3
networkx==2.5.1
nibabel==3.2.1
nipype==1.6.0
numpy==1.20.3
packaging==20.9
pandas==1.2.4
pathlib==1.0.1
pefile==2019.4.18
prov==2.0.0
py2exe==0.10.4.0
pycparser==2.20
pydot==1.4.2
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyMuPDF==1.18.13
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqt5ac==1.2.1
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
pyxnat==1.4
PyYAML==5.4.1
rdflib==5.0.0
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
simplejson==3.17.2
six==1.16.0
sklearn==0.0
starlette==0.14.2
threadpoolctl==2.1.0
traits==6.2.0
urllib3==1.26.4
uvicorn==0.13.4
whichcraft==0.6.1
xgboost==1.4.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
